.singlerow {
  display: flex;
  width: fit-content;
  height: fit-content;
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(15, 12, 184, 0.08);
  border-radius: 12px;
  margin-top: 17px;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
}
.singlecol,
.singlecol2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.topline{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name {
  width: auto;
  height: fit-content;
  font-family: Apercu Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  color: #3b38f1;
  flex-grow: 0;
  margin: 19px;
}
.batch {
  justify-content: center;
  align-items: center;
  padding: 8px 32px;
  width: fit-content;
  height: fit-content;
  background: #f3f3fc;
  border-radius: 32px;
  margin-right: auto;
}
.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 77px;
  width: fit-content;
  height: fit-content;
  background: linear-gradient(90.4deg, #9850ff 0.61%, #3b38f1 93.64%);
  border-radius: 645px;
  margin-top: 10px;
}
.about {
  width: auto;
  max-width: 448px;
  height: fit-content;
  font-family: Apercu Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #3d3d5b;
  margin: 16px 0;
}
.deadline {
  display: flex;
  width: auto;
  height: fit-content;
  background: #f3f3fc;
  border-radius: 32px;
  margin: 16px 8px;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
}
.day,
.assigntime {
  height: auto;
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  color: #2c2ab7;
  margin-left: 7px;
}

@media screen and (max-width: 778px) {
  .singlerow{
    flex-direction: column;
    margin-top: 10px;
  }
  .singlecol,
  .singlecol2 {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .topline{
    flex-direction: column;
  }
  .about {
    width: auto;
    max-width: 318px;
    margin: 8px;
    margin-top: 28px;
  }
  .name {
    font-size: 32px;
  }
  .batch {
    padding: 5px 50px;
    width: fit-content;
    height: fit-content;
  }
  .deadline{
    padding: 10px 60px;
  }
  .btn {
    padding: 20px 140px;
    width: auto;
    max-width: 318px;
    height: auto;
    margin-bottom: 10px;
  }
  .but{
    order: 2;
  }
}
